<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="../style3.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-color: linear-gradient(#e0eafc, #cfdef3);
    height: 100vh;
    user-select: none;
}


</style>
<body>
    <div class="center">
        <input type= "checkbox" id="click">
        <label for ="click" class= "click-me">Check route</label>
		<div class="content">
            <div class="header">
                <h2>Hello User!</h2>
                <label for ="click" class="fas fa-times"></label>
            </div>
            <label for ="click" class="fas fa-check"></label>
            <p>You can follow the route via Gariahat.</p>
            <div class="line"></div>
            <label for="click" class="close-btn">Close</label>
        </div>
    </div>
</body>

